

/* ==== Google font ==== */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Damion);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
body {font-family: 'Open Sans', sans-serif;color: #666;background-color: #F1FBF0;font-size: 16px;line-height: 1.6em;font-weight: 400;}
html, body {width:100%; padding:0; margin:0;}
/*html, body {width:94.5%; padding:0; margin-left:3%;}*/

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

h1 {font-size: 38px;}
h2 {font-size: 36px;}
h3 {font-size: 32px;}
h4 {font-size: 28px;}
h5 {font-size: 24px;}
h6 {font-size: 20px;}

h1,h2,h3,h4,h5,h6 {font-weight: 600;color: #111;}

p {margin: 0 0 20px;}

/*ttttttttttttttttttttttttttttttt GESTION DES LIENS VERS LES AUTRES PAGES tttttttttttttttttttttttttttttttttttttttttttttttttt*/
a {
   
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
}

a:hover,
a:focus {text-decoration: none;}

.center{text-align: center; margin: 0 auto;}
.f-right{float: right;}
.f-left{float: left;}
.t-right{text-align: right;}
.t-left{text-align: left;}

.post{}
.post:after, .post:before, article:after, article:before, section:after, section:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}


/* --Line-- */
hr.line { margin: 15px auto; padding: 0; max-width: 90px;border: 0; border-top: solid 5px #ddd;text-align: center;}

/* --Page-- */
body.index-page {}
body.sub-page {padding-top: 30px;background-color: #F9F9F9;}
body.sub-page .logo {margin: 110px 0 80px;background: url(../images/Agent_ressources_humaines.jpg) fixed; padding: 30px 0 50px;}


/* ---------------------------------------------------------------------------- */
/* -------------------------------------Header--------------------------------- */
/* ---------------------------------------------------------------------------- */
.top{background: rgb(128, 29, 128);padding: 10px 0; width: 100%; margin-left: 0%;}
#search input[type="text"]{
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #999999;
    display: block;
    font-size: 15px;
    font-weight: normal;
    height: 40px;
    line-height: 1.2;
    outline: medium none;
    padding: 7px 10px 4px;
    transition: border-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
    width: 100%;
	background-color: #fff;
}

                                      /* couleur du bouton barre recherche  */
#search button{background: rgb(128, 29, 128);color: #fff;border-color: rgb(128, 29, 128);}
.top .top-search{background: #fff;padding: 8px;}


/* ---------------------------------------------------------------------------- */
/* ----------------------------------Navbar------------------------------------ */
/* ---------------------------------------------------------------------------- */

#nav {font-family: Asap;}
#nav > .navbar-inner {border-left: 0;border-right: 0;border-radius: 0;-webkit-border-radius: 0;-moz-border-radius: 0;-o-border-radius: 0;}
#nav.affix {position: fixed;top: 0;width: 100%}
.navbar {background-color: transparent;background: transparent;color: #fff;opacity: 100;border: 0px;border-radius: 0px;z-index:9999;}
/*________________________________________________________________________________________________________________________________--*/



/* --- menu --- */
/*
header .navigation {
	float:right;
}

header ul.nav li {
	border:none;
	margin:0;
}

header ul.nav li a {	
	font-size:12px;
	border:none;
	font-weight:700;
	text-transform:uppercase;
}

header ul.nav li ul li a {	
	font-size:13px;
	border:none;
	font-weight:400;
	text-transform:none;
}


.navbar .nav > li > a,.navbar .nav > li.active > .dropdown-menu > li > a {
  color: #444;
  text-shadow: none;
}


.dropdown-menu li:hover,
.dropdown-menu li a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a, 
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
	background: #f5f5f5;
}
.navbar .nav a:hover {
	background:none;
}

.navbar .nav > .active > a,.navbar .nav > .active > a:hover {
	background:none;
	font-weight:700;
}

.navbar .nav > .active > a:active,.navbar .nav > .active > a:focus {
	background:none;
	outline:0;
	font-weight:700;
}

.navbar .nav li .dropdown-menu {
	z-index:2000;
}

header ul.nav li ul {
	margin-top:1px;
}
header ul.nav li ul li ul {
	margin:1px 0 0 1px;
}
.dropdown-menu .dropdown i {
	position:absolute;
	right:0;
	margin-top:3px;
	padding-left:20px;
}

.navbar .nav > li > .dropdown-menu:before {
  display: inline-block;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-bottom-color: none;
  content:none;
}



ul.nav li.dropdown a {
	z-index:1000;
	display:block;
}
*/
/* sub menu */



header ul.nav li ul li.dropdown-submenu li a {	
	color: #444;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: 1px;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0;
    border-radius: 0 0 0 0;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: "\f105";
	font-family: 'FontAwesome';
    float: right;
    width: 0;
    height: 0;

    margin-top: 0;
    margin-right: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}





/*_____________________________________________________________________________________________________________________--*/
#titreP
{
	color: rgb(215, 215, 0);
}





/*yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy    coloration de la barre de navigation yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy*/
.navbar-default 
{
	background-color: rgb(128, 29, 128);
}

.navbar-collapse{border: none;}
.navbar-default .navbar-nav > li > a {color: rgb(215, 215, 0);font-weight: 300;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus  {color: #fff;background-color: rgb(128, 29, 128);}
.dropdown-menu > li > a {font-weight: bold;}

.navbar-default .navbar-nav > li > ul
{
	list-style: none;
	color: rgb(255, 0, 0);
	
}

.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:focus {background-color: rgb(128, 29, 128);border: 0px;}
.navbar-default .navbar-toggle .icon-bar {background-color: #ffffff;}
.open {color: #fff;}
.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {background-color: #FBFBFB;color:#000;}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav .open .dropdown-menu {background-color: red;}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 150px;
        text-align: center;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
		margin-top: -2.5%;
    }
}
@media screen and (max-width:767px){
	.navbar-brand img{
		max-height: 90px;
	}
	.navbar-default .navbar-nav > li > a.first{
		margin-top: 50px;
	}
}


/* Carousel Styles */
.box-shadow
{
  position: relative;
}
.box-shadow:before, .box-shadow:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 19px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #555;
  box-shadow: 0 25px 15px #555;
  transform: rotate(-3deg);
}
.box-shadow:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}


/*yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy gestion du slide yyyyyyyyyy*/
.carousel-inner img {width: 1200px; margin:auto;}




/*yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy texte des slides yyyyyyyyyy*/
/* Carousel Header Styles */
.header-text {position: absolute;top: 25%;left: 1.8%;right: auto;width: 96.66666666666666%;color: #fff;}
.header-text h1{font-size: 55px;line-height: 1.2;font-family: "Roboto Slab",sans-serif;}


/* ---------------------------------------------------------------------------- */
/* -------------------------------------Content-------------------------------- */
/* ---------------------------------------------------------------------------- */
#page-content{}

/* ---HomePage---                        UTILISATION DE LA COULEUR VIOLET SUR ACCUEIL INFORMATIQUE ART ET DESIGN ....*/
.box-content {padding: 80px 0 90px;}
.box-content .heading{ text-align: center;width: 100%;margin: 0 auto;margin: -130px 0 80px;}
.heading h2 {
	display: inline-block;
	height: 60px;
	background: rgb(128, 29, 128);
	text-align: center;
	padding: 30px 35px 0 50px;
	position: relative;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(215, 215, 0);
	font-family: 'Roboto Slab', serif;
	margin-left: 100px;
}
.heading h2:after {
	content: "";  
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid rgb(128, 29, 128);
	position: absolute; right: -30px; top: 0;
}
.heading h2:before {
	content: "";  
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid rgb(128, 29, 128);
	margin-left: -30px;
	transform:rotate(180deg);
	position: absolute; left: 0; top: 0;
}




/*------------------------------------------------------------------------Content Box 02   INFORMATIQUE-----------------------------------------------------*/



/*--------------------------------------------------------------------------------------------------------BLOC DES CITATIONS-----------------------------------------------*/
.box-content.box-style-3{background-color: rgb(73, 31, 143);color:#fff;}





/* ---------------------------------------------------------------------------- */
/* -------------------------------------Box 1--    ACCUEIL-------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-1 {}
.box-content.box-1 .box-item{}
.box-content.box-1 .box-item h3{color: rgb(255, 0, 0);font-family: 'Damion', cursive;text-align: center; letter-spacing: 5px;font-size: 36px;}
.box-content.box-1 .box-item p{font-size: 15px;color:#816943;line-height: 25px;margin: 10px auto;}


/* ---------------------------------------------------------------------------- */
/* -------------------------------------Box 2---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-2 {}
.box-content.box-2 h3{color: #FFB619; margin-bottom: 5px;font-weight: 500;}
.box-content.box-2 span{font-weight: bold;font-size: 20px;line-height: 2;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Box 3---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-3 {}
.portfolio-box {display: block;position: relative;margin: 0 auto;}
.portfolio-box .portfolio-box-caption {display: block;position: absolute;bottom: 0;width: 100%;height: 100%;text-align: center;color: #fff;opacity: 0;background: rgba(127, 154, 0,.9);-webkit-transition: all .35s;-moz-transition: all .35s;transition: all .35s;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {position: absolute;top: 50%;width: 100%;text-align: center;transform: translateY(-50%);}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {padding: 0 15px;font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {text-transform: uppercase;font-size: 14px;font-weight: 600;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {font-size: 18px;}
.portfolio-box:hover .portfolio-box-caption {opacity: 1;}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Box 4---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-4 {}
.box-content.box-4 .box-item{}
.box-content.box-4 blockquote {position: relative;padding: 20px 120px 0;text-align: center;font-size: 40px; border:none;line-height: 1.2;}
.box-content.box-4 blockquote:before, .box-content.box-4 blockquote:after {position: absolute;width: 60px;height: 60px;font-size: 130px;line-height: 1; }
.box-content.box-4 blockquote:before {top: 0;left: 0;content: "\201C"; }
.box-content.box-4 blockquote:after {top: 0;right: 0;content: "\201D"; }
@media only screen and (max-width: 1100px) {
 .box-content.box-4 blockquote {font-size: 30px; } 
 }
@media only screen and (max-width: 960px) {
 .box-content.box-4 blockquote {padding: 30px 60px;font-size: 22px; }
 .box-content.box-4 blockquote:before, .box-content.box-4 blockquote:after {width: 30px;height: 30px;font-size: 70px; } 
 }
@media only screen and (max-width: 690px) {
 .box-content.box-4 blockquote {padding: 10px 30px;font-size: 20px; }
 .box-content.box-4  blockquote:before, .box-content.box-4 blockquote:after {font-size: 35px; } 
 }

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Box 5---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-5 {}
.box-content.box-5 .box-item{background-color: #F9F9F9;margin-bottom: 30px;border: 1px solid #eee;} 
.box-content.box-5 .box-item .content{padding: 10px 30px 30px;} 
.box-content.box-5 .box-item .content h3{font-weight: 500;color: #70561B;font-size: 24px;margin-bottom: 20px;} 
.box-content.box-5 .box-item .content span{color: #bbb;font-size: 15px;}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Box 6---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-6 {}
.box-content.box-6 .box-item{text-align: center;} 
.box-content.box-6 .box-item img{max-width: 120px;margin-bottom: 15px;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Box 7---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-7 {padding-bottom: 50px;}
.box-content.box-7 .box-item{margin-top: -40px;}
.box-content.box-7 h3{margin-bottom: 15px;}
.box-content.box-7 input {border: 1px solid #785843;border-radius: 4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
.box-content.box-7 textarea {border: 1px solid #785843;border-radius: 4px;-webkit-border-radius:4px;-moz-border-radius:4px;height: 200px;}

.message{text-align: center;margin: 50px 0;}
.message .wrap{	padding: 50px; background: #ffffff; border: 1px solid #333333;display: inline-block;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;-khtml-border-radius: 5px;}
.message .back{margin-top: 30px;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------gestionnaire de Footer---------------------------------- */
/* ---------------------------------------------------------------------------- */
footer {text-align: center;}
footer a{text-decoration: underline;}
footer .copyright {color: #333333;font-size: 14px;letter-spacing:1px;}
footer .wrap-footer {padding: 30px 50px 20px;background-color: #F1FBF0; position: relative;}

#sub-footer{
	border-top: 1px solid #ddd;
	background:#F1FBF0;
}


footer{
	padding:50px 0 0 0;
}

footer a {
	color:#666;
}

footer a:hover {
	color:#801D80;
}


footer{
	padding:50px 0 0 0;
}

footer a {
	color:#666;
}

footer a:hover {
	color:#801D80;
}

footer address {
	line-height:1.6em;
}

ul.social-network {
	list-style:none;
	margin:0;
}

ul.social-network li {
	display:inline;
	margin: 0 5px;
}

footer ul.social-network li i {
	font-size: 1.3em;
}

#sub-footer{
	text-shadow:none;
	padding:0;
	padding-top:30px;
	margin:20px 0 0 0;
}

#sub-footer p{
	margin:0;
	padding:0;
}

#sub-footer span{

}

.copyright {
	text-align:left;
	font-size:12px;
}

#sub-footer ul.social-network {
	float:right;
}

/* -----------------------------------END OF FOOTER----------------------------------------- */



/*--------------------------------------------------------------------------------------LES RESEAUX SOCIAUX--------------------------------------------------------------------*/
ul.social-buttons li a{display: block;width: 40px;height: 40px;border-radius: 50%;font-size: 20px;line-height: 40px;color: #ffffff;background-color: rgb(200, 0, 0);transition-duration: 0.3s;text-align: center;}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active{background-color: #333333;}

footer ul.quicklinks {margin-top: 10px;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Contact-------------------------------- */
/* ---------------------------------------------------------------------------- */
.contact h2{font-size: 34px; font-weight: 500;letter-spacing: 3px;padding-top: 20px ;text-align: center;}

#contact_form {padding:25px;}

#ff label {cursor:pointer;margin:px 0;display:block;font-weight:bold;}

#ff input {display:block;width:90%;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px; color:#000;	border:1px solid #5f5f5f;padding:10px;margin: 5px 0 25px 0;}

textarea {display:block;width:90%;height:200px; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;background-color:#fff; color:#000;	border:1px solid #5f5f5f;padding:10px;margin: 5px 0 25px 0;}

#ff .sendButton {border: none;cursor:pointer;background-color: #DE5781;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;;width:100px;color:#ffffff;}
#ff .sendButton:hover {opacity: 0.8;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Button---------------------------------- */
/* ---------------------------------------------------------------------------- */
.btn {
	border-radius: 2px;
	position: relative;
	display: inline-block;
	outline: none;
	color: #D7D700;
	background-color: #801D80;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;	
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 14px;
}
a.btn:focus{outline: 0;}

.btn-skin {padding: 8px 20px;color: #fff;background-color: rgb(128, 29, 128);min-width: 110px;}
.btn-skin:hover, .btn-skin:focus {color: #fff;background-color: #333;}

/* ---------------------------------------------------------------------------- */
/* --------------------------------Google-Map---------------------------------- */
/* ---------------------------------------------------------------------------- */
.maps iframe{
    pointer-events: none;
}